/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centering {
    float: none;
    margin: 0 auto;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                          http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* All of the custom styles go over here*/

html,
body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    width: auto !important;
    overflow-x: hidden !important;
}

body {
    font-family: 'Source Sans Pro', sans-serif;;
}

#layer {
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -100;
}

.row {
    text-align: center;
}

.welcome-heading {

    color: #FCFDFC;
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
}

.welcome-desc {
    color: #FDFCFA;
    text-transform: capitalize;
    /*color: rgba(252, 253, 252, 0.6);*/
    font-size: 18px;
}

#second-section .fp-tableCell {
    /*vertical-align: top !important;*/
}

/*#second-section .fp-tableCell .container-fluid, #second-section .fp-tableCell .container-fluid > .row, #second-section .fp-tableCell .container-fluid > .row >#sub-sections {*/
/*height: inherit;*/
/*}*/
#second-section .container-fluid {
    padding: 0;
}

#second-section #first-half {
    background-color: #ffffff;
}

/*#second-section #first-half {*/
/*height: 50%;*/
/*min-height:250px;*/
/*background-color: #FFFFFF;*/
/*}*/
/*#second-section #first-half > div{*/
/*height: inherit;*/
/*}*/
/*#second-section #second-half {*/
/*height: 50%;*/
/*min-height:250px;*/
/*!*background-color: #FFFFFF;*!*/
/*}*/
.section-heading {
    color: #252525;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 35px;
}
.section-heading-light {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 35px;
}

#art {
    /*background-image: url('../img/splash.png');*/
    /*background-repeat: no-repeat;*/
    text-align: right;
    /*position: relative;*/
    bottom: 0;
    z-index: 20;
    height: 100%;
}

.message-quote {
    font-style: italic;
    font-size: 15px;
    color: #9E9E9E;
}

#message {
    padding-top: 40px;
}

.signature {
    font-size: 45px;
    font-style: italic;
    font-family: 'Allura', cursive;
    text-align: center;
}

#third-section {
    background-color: #ffffff;
}

.heading-desc {
    text-transform: capitalize;
    font-family: 'Allura', cursive;
    color: #898989;
    font-size: 25px;
}

.heading-desc:before {
    content: "";
    margin-right: 20px;
    width: 50px;
    height: 1px;
    background-color: #DEDEDE;
    display: inline-block;
    vertical-align: 10%;
}

.heading-desc:after {
    content: "";
    margin-left: 20px;
    width: 50px;
    height: 1px;
    background-color: #DEDEDE;;
    display: inline-block;
    vertical-align: 10%;
}

.sect-heading-desc {
    font-size: 20px;
    margin-bottom: 80px;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);

}


.products-catalog {
    /*margin-top: 50px;*/
}
.product-img{
    padding-top: 20px;
    padding-bottom: 20px;
}

.product-img > .product-bottle {
    position: relative;
    -webkit-transition: all ease 0.1s;
    -moz-transition: all ease 0.1s;
    -ms-transition: all ease 0.1s;
    -o-transition: all ease 0.1s;
    transition: all ease 0.1s;
    -webkit-transition-property: top, bottom;
    bottom: 0;
}

.product-img > .product-bottle:hover {
    bottom: 10px;
    -webkit-transition-property: top, bottom;
    -webkit-transition: all ease 0.1s;
    -moz-transition: all ease 0.1s;
    -ms-transition: all ease 0.1s;
    -o-transition: all ease 0.1s;
    transition: all ease 0.1s;

}

.product-shadow {
    /*position: fixed;*/
    /*width: inherit;*/
    margin-top: -8px;
    text-align: center;
}

#grid{
    padding:0 20px 0px 20px !important;
}

.feature-icon {
    font-size: 30px;
}

.feature-desc {
    /*text-justify: distribute;*/
    text-align: center;
    font-size: 40px;
}

.feature-icon i {
    width: 50px;
    height: 50px;
    background: transparent;
    color: #Ef3B39;
    border: 4px solid #fff;
    border-radius: 50%;
    padding: 6px 2px 2px 2px;
}

.feature-icon i:hover {
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: all 0.5s ease;
    border: 4px solid #Ef3B39;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 10px;
    color: #fff;
    /*font-weight: bold;*/
    text-transform: uppercase;
    font-weight: bold;
    /*font-size: 20px;*/
    transition: all 0.5s ease;
    outline: none;
}

.feature-head {
    color: #fff;
    font-weight: bolder;
    font-size: 25px;
}

.feature-desc {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    padding: 5px;
    transition: all 0.5s ease;
}

.feature-desc:hover {
    color: #fff;
    cursor: pointer;
    border-radius: 2px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
}

/*CSS for contact Section*/

#contact-form {
    text-align: left;
}

#seventh .wrapper > div:first-child {
    margin-bottom: 40px;
}

#contact-form input {
    margin-bottom: 15px;
}

.btn-submit {
    color: #ffffff;
    border-color: #ffffff;
    background-image: none;
    background: transparent;
    transition: all 500ms;
}

.btn-submit:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

.btn-submit:focus {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

.form-control {
    border-color: #ffffff;
!important;
    box-shadow: 0 0 8px rgba(155, 89, 182, 0.2);
    outline: 0 none;
    background-color: transparent;
    color: #ffffff;
}

.form-control:focus {

    color: #000;
}

.inner-txt-visibe {

}

.form-control:hover {
    border-color: rgba(239, 59, 57, 1);
!important;
    box-shadow: 0 0 10px rgba(239, 59, 57, 1);
    outline: 0 none;
    /*background-color: #ffffff;*/
}

.form-control:focus {
    border-color: rgba(239, 59, 57, 1);
!important;
    box-shadow: 0 0 10px rgba(239, 59, 57, 1);
    outline: 0 none;
    background-color: #ffffff;
}

.error {
    color: #BF55EC;
}

.contact {

    font-family: 'Exo', sans-serif;
}

.contact h4 {
    font-family: 'Exo', sans-serif;
}

.contact p {
    font-size: 14px;
    opacity: 0.8;
}

.icon-contact {
    color: #ef3b39;
    opacity: 0.7;
    margin-right: 10px;
}
.empty-icon{
    color: transparent !important;
    /*visibility: hidden !important;*/
    /*display: none;*/
}
